
:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grey-red: hsl(0, 6%, 24%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

body {
  display: grid;
  grid-template-columns: 57.7% auto;
  min-height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
}

#main-section {
  background-image: url(../images/bg-pattern-desktop.svg), linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%)), 
                    linear-gradient(135deg, hsl(0, 80%, 86%),  hsl(0, 74%, 74%));
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4rem 13.8rem 0 8.8rem;
}

#hero-section {
  background-image: url(../images/hero-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#mobile-hero {
  display: none;
}

#container {
  min-width: 367px;
  /* border: 1px solid black; */
}

#description {
  margin-top: 8.3rem;
}

#description h1 {
  font-weight: 600;
  font-size: 4.14rem;
  letter-spacing: 1rem;
  line-height: 4.27rem;
  color: var(--dark-grey-red);
  margin-bottom: 1.3rem;
}

#description h1 span {
  color: var(--desaturated-red);
  font-weight: 300;
}

#description p {
  color: var(--desaturated-red);
  font-weight: 400;
  line-height: 1.75rem;
  margin-right: 2rem;
}

#form {
  position: relative;
  margin-top: 2.5rem;
}

#form #email {
  position: relative;
  width: 100%;
  height: 3.4rem;
  padding: 1.2rem  2.1rem;
  border-radius: 35px;
  border: 1px solid var(--desaturated-red);
  font-family: 'Josefin Sans';
  font-size: 1rem;
  background-color: transparent;
  outline: none;
}

#form div #icon-error {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 7rem;
  margin-top: 0.9rem;
}

#email::placeholder {
  color: var(--desaturated-red);
  opacity: 0.5;
}

#form #submit-btn {
  z-index: 0;
  position: absolute;
  padding: 1.01rem 2.8rem;
  border-radius: 35px;
  border: none;
  right: 0;
  top: 0;
  background:  linear-gradient(135deg, hsl(0, 80%, 86%),  hsl(0, 74%, 74%));
  box-shadow: hsla(0, 36%, 70%, 0.4) 0px 15px 25px 2px;
}

#form #submit-btn:hover {
  box-shadow: hsla(0, 36%, 70%, 0.7) 0px 15px 25px 2px;
}

#form #submit-btn:active {
  background: hsl(0, 80%, 86%);

}

#form #invalid-container {
  padding-left: 2.3rem;
  margin-top: 0.1rem;
}

#invalid-container p {
  color: var(--soft-red);
  font-size: 0.85rem;
}

#attribution-section {
  margin: 3rem 0 1rem 0;
  color: var(--desaturated-red);
}

#attribution-section a {
  color: var(--dark-grey-red);
}

#attribution-section a:hover {
  color: var(--desaturated-red);
}

#attribution-section a:visited {
  color: var(--soft-red);
}


@media (width <= 1024px) {

    body {
      display: block;
      background-color: hsla(0, 80%, 86%, 0.15);
    }

    body, #main-section, #container {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      width: 100vw;
    }

    #hero-section {
      display: none;
    }
    
    #main-section {
      background: none;
      border: none;
    }

    header {
      padding: 1.9rem 2rem;
    }

    header img {
      width: 6.5rem;
    }

    #mobile-hero{
      display: block;
    }
    
    #mobile-hero img {
      width: 100%;
    }

    #description {
      text-align: center;
      margin: 0 1.7rem;
      padding: 4rem 0;

      /* border: 1PX solid black; */
    }

    #description h1 {
      font-size: 2.5rem;
      line-height: normal;
      letter-spacing: 0.6rem;
    }

    #description p {
      margin: 0;
      font-size: 0.9rem;
      line-height: 1.4rem;
    }

    #form #submit-btn {
      padding: 1.01rem 2rem;
    }
  }